.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, auto);
  margin-top: 20px;
}

@media (max-width: 1500px) {
  .container {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991.98px) {
  .container {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767.98px) {
  .container {
    grid-template-columns: repeat(1, auto);
  }
}

app-image-card {
  display: flex;
  justify-content: center;
}
